<div class="row">
<div class="col-md-6">
  <div class="input-section">
  <form>
      <u><h1>Place new Order</h1></u> <br>
    <div class="form-group">
      <label for="username">Username : </label><br>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label for="productName">Select Product : </label><br>
      <select name="selectedProductObject" id="selectedProductObject" [(ngModel)]="selectedProductObject">
        <option value="0">-- Select --</option>
        <option *ngFor="let product of allProducts" value={{product._id}}>
          {{product.productname}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="orderedQuantity">Quantity : </label><br>
      <input type="text" class="form-control" id="orderedQuantity" name="orderedQuantity" [(ngModel)]="orderedQuantity" required>
    </div>
    <div class="form-group">
      <button type="submit" clas="btn btn-success" (click)="createOrder()">Order</button>
    </div>
  </form>
</div>
</div>
<div class="col-md-6">
  <button class="btn btn-primary" (click)="navigateToHomepage()">Home Page</button>
</div>
</div>