<div class="row">
<div class="col-md-8 prediction-table-division">
  <u><h1>All Details Page - Home Page</h1></u><br>
  <table class="prediction-table" *ngIf="!pdfDownload">
    <tr class="prediction-tr">
      <th class="prediction-tr">Product ID</th>
      <th class="prediction-tr">Product Name</th>
      <th class="prediction-tr">Quantity</th>
      <th class="prediction-tr">Created-till-now</th>
      <th class="prediction-tr">Predicted</th>
      <th class="prediction-tr">Status</th>
      <th class="prediction-tr">Ordered Time</th>
      <th class="prediction-tr">Current Status</th>
    </tr>
    <tr class="prediction-tr" *ngFor="let order of finalDataArray">
      <td class="prediction-tr">{{order.productId}}</td>
      <td class="prediction-tr">{{order.productName}}</td>
      <td class="prediction-tr">{{order.quantity > 0 ? order.quantity : ((!order.createdTillNow) ? 'No Orders received today...' : 'Order complete')}}
      </td>
      <td class="prediction-tr">{{order.createdTillNow}}</td>
      <td class="prediction-tr">{{order.predictedQuantity !== -1 ? order.predictedQuantity : 'No prediction Data' }}</td>
      <td class="prediction-tr" *ngIf="order.quantity > 0 && order.predictedQuantity && !order.status" class="btn btn-primary"
        (click)="updateStatus(order)">Done</td>
      <td class="prediction-tr" *ngIf="!(order.quantity > 0 && order.predictedQuantity && !order.status)" class="btn btn-primary"
        disabled>Done</td>
      <td class="prediction-tr">{{ order.orderTimestamp }}</td>
      <td class="prediction-tr" *ngIf="order.status" style="background-color:green;">{{ 'Completed' }}</td>
      <td class="prediction-tr" *ngIf="!order.status && (order.quantity === -1) && !order.createdTillNow" style="background-color:blue;">{{ 'No Orders Today' }}</td>
      <td class="prediction-tr" *ngIf="(!order.status && (order.quantity > -1))" style="background-color:yellow;">{{ 'In Progress' }}</td>
      <td class="prediction-tr" *ngIf="(order.quantity === 0 && order.predictedQuantity===-1)" style="background-color:yellow;">{{ 'No Status' }}</td>
    </tr>
  </table>
</div>
<div class="col-md-4">
  <div class="buttons">
    <input type="button" value="Download PDF" (click)="captureScreen()" class="button-pdf"/>
  </div>


<div class="buttons">
  <button class="btn btn-primary" (click)="navigateToSendPrediction()">Go to send Prediction page</button> 
</div>
<div class="buttons"><button class="btn btn-primary" (click)="navigateToPlaceOrder()">Create new Order page</button> &nbsp; &nbsp;</div>
  
 <div class="buttons"><button class="btn btn-primary" (click)="addNewProduct()">Add new Product page</button></div> 


<!-- for PDF Generation -->
<div style="opacity: 0;">
  <div class="pdf-download" id="contentToConvert">
    <h1>Production - Prediction Report</h1>
    <table class="downloadable-table">
      <tr class="downloadable-tr">
        <th class="downloadable-td">Dish Name</th>
        <th class="downloadable-td">Produced</th>
        <th class="downloadable-td">Predicted</th>
      </tr>
      <tr class="downloadable-table" *ngFor="let order of arrayUnique">
        <td class="downloadable-td">{{order.productName}}</td>
        <td class="downloadable-td">{{order.createdTillNow}}</td>
        <td class="downloadable-td">{{order.predictedQuantity !== -1 ? order.predictedQuantity : 'No prediction Data' }}</td>
      </tr>
    </table>
  </div>
</div>
</div>
</div>
